/* index y formulario con el background fondo*/

body{
    background-image: url(/IMG/fondo.jpg);
    background-size:cover;
    color:whitesmoke;
    /* He dejado la letra sí pq en mi ordenador se veía mejor */
    font-size:large;
    margin: 0;
    text-align: center;
}

/* Letra propuesta por el cliente */
@font-face {
    font-family: "Breaking Bad";
    src: url(/Letra/Breaking\ Bad.ttf);
}
/* Títulos */
h1{
    text-shadow: 10px 10px 10px black;
}

/* LOGO */

#logoBr {
    background-repeat:no-repeat;
    height: 200px;
    margin: auto;
    padding: 20px;
    width: 200px;
}

/* POSTER */
.poster{
    background-image: url(/IMG/fondo.jpg);
    border-radius: 22px;
    border: 10px outset brown;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    margin: auto;
    width: 700px;
}

/* FORMULARIO */

.formulario{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(10, 37, 81, 0.5);
    color: black;
    /*  Sin sombras no es lo mismo 😇 */
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 0 auto;  
    padding: 30px;
    width: 30%;
}
input{
    
    background-color: #D4D4D4;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}
#personaje{
    width: 100%;
    
}
#comentarios{
    width: 100%;
    height: 100px;
}
#fecha_nacimiento{
    width: 100px;
}
#enviar_borrar{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* tabla periodica */

#fondoVerde{
    background-color: #0c3e11;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
#tableLements{
    background-color: black;
    margin: auto;
}
th{
    width: 80px;
    height: 50px;
    border: 2px solid #000;
}
span{
    font-size: 40px;
}

/* Color de las celdas */

.bgcolor{
    background-color: #BDEF38;
}
.verde_oscuro{
    background-color: #718048;
}
.morado{
    background-color: #AF4FC0;
}
.verde_clarito{
    background-color: #E1FE93;
}
.verde_muyClarito{
    background-color: #EEFACB;
}
.verde_estatua{
    background-color: #669E34;
}
.marron{
    background-color: #566038;
}
.gris{
    background-color: #C4CFAB;
}
.ocre{
    background-color: #D0C715;
}

/* Perdón, pero me ha traido de culo por que no la cuadraba y aun... */

#tocaPelotas{
    position: relative;
    top: 20px;
    width: 75px;
}
