body{
    background-image: url(breaking\ bad/fondo.jpg);
    background-size:cover;
    color:whitesmoke;
    font-size:large;
    margin: 0;
    text-align: center;
    

}
@font-face {
    font-family: "Breaking Bad";
    src: url(Breaking\ Bad.ttf);
}

h1{
    text-shadow: 10px 10px 10px black;
}
/* LOGO */

#logoBr {
    padding: 20px;
    background-repeat:no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;

}

/* POSTER */
.poster{
    background-image: url(breaking\ bad/poster.jpg);
    width: 700px;
    height: 300px;
    margin: auto;
    border-radius: 22px;
    border: 10px outset brown;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    
    
    
}


/* FORMULARIO */

.formulario{
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    margin: 0 auto;  
    padding: 50px;  
    box-shadow: 10px 10px 10px rgba(10, 37, 81, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

/* tabla periodica */

#fondoVerde{
    background-color: #0c3e11;

    font-size:large;
    text-align: center;
    color: black;
    font-weight:bolder;
}
#tableLements{

    background-color: black;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
td, th{
    width: 80px;
    height: 50px;
    border: 2px solid #000;
    
}


/* tabla 2 */

#tabla2{
    background-color: black;
    margin: auto;
    
    /* Quitar luego la letra blanca */
    color: aliceblue; 

}

#tr1{
    
    background-color: green;
}