
/* index */
body{
    background-image: url(/breaking\ bad/fondo.jpg);
    background-size:cover;
    color:whitesmoke;
    font-size:large;
    margin: 0;
    text-align: center;
    
    

}
@font-face {
    font-family: "Breaking Bad";
    src: url(Breaking\ Bad.ttf);
}

h1{
    text-shadow: 10px 10px 10px black;

}

/* LOGO */

#logoBr {
    padding: 20px;
    background-repeat:no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;

}

/* POSTER */
.poster{
    background-image: url(breaking\ bad/poster.jpg);
    width: 700px;
    height: 300px;
    margin: auto;
    border-radius: 22px;
    border: 10px outset brown;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        
}


/* FORMULARIO */

.formulario{
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    width: 30%;
    margin: 0 auto;  
    box-shadow: 10px 10px 10px rgba(10, 37, 81, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    
}
input{
    
    background-color: #D4D4D4;
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}
#personaje{
    width: 100%;
    
}
#comentarios{
    width: 100%;
    height: 100px;
}
#fecha_nacimiento{
    width: 150px;
}
#enviar_borrar{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* tabla periodica */

#fondoVerde{
    background-color: #0c3e11;
    font-size:large;
    text-align: center;
    color: black;
    font-weight:bolder;
}
#tableLements{

    background-color: black;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    width: 80px;
    height: 50px;
    border: 2px solid #000;
}
/* Color de las celdas */

.bgcolor{
    background-color: #BDEF38;
}
.verde_oscuro{
    background-color: #718048;
}
.morado{
    background-color: #AF4FC0;
}
.verde_clarito{
    background-color: #E1FE93;
}
.verde_muyClarito{
    background-color: #EEFACB;
}
.verde_estatua{
    background-color: #669E34;
}
.marron{
    background-color: #566038;
}
.gris{
    background-color: #C4CFAB;
}
.ocre{
    background-color: #D0C715;
}
/* tabla 2 */

#tabla2{
    background-color: black;
    margin: auto;
    
    /* Quitar luego la letra blanca */
    color: aliceblue; 

}

