body{
    background-image: url(breaking\ bad/fondo.jpg);
    background-size:cover;
    color:whitesmoke;
    font-family: Breaking B Normal;
    font-size:large;
    margin: 0;
    text-align: center;
    

}

#logoBr {
    padding: 20px;
    background-repeat:no-repeat;
    width: 200px;
    height: 200px;
    margin: auto;

}

#poster{
    margin: auto;
    width: 700px;
    height: 300px;
    border-radius: 22px;
    border: 10px outset brown;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* FORMULARIO */

.formulario{
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%;
    margin: 0 auto;  
    padding: 50px;  
    box-shadow: 10px 10px 10px rgba(10, 37, 81, 0.5);
}

/* tabla periodica */

#bodyTable{

    font-size:large;
    text-align: center;
    color: black;
    font-weight:bolder;
}
#tableLements{
    background-color: #0c3e11;

    background-color: black;
    margin: auto;
}
td, th{
    width: 80px;
    height: 50px;
    border: 2px solid #000;
    
}


/* tabla 2 */

#tabla2{
    background-color: black;
    margin: auto;
    
    /* Quitar luego la letra blanca */
    color: aliceblue; 

}

#tr1{
    
    background-color: green;
}